# Python
__pycache__/
*.py[cod]
.venv/
*.egg-info/

# Virtual environments
venv/
env/

# Large dataset files & models
dataset/
models/
*.pptx
*.db
*.sqlite
*.sqlite3

# Environment variables
.env
*.env

# PHP dependencies
vendor/

# Node
node_modules/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Temp
*.tmp
*.bak
